body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        "header"
        "main-content"
        "image-gallery"
        "footer";
    text-align: center;
    height: 100vh;
    background-color: lightyellow;
}

body h2 {
    font-size: 14px;
    color: darkbrown;
}


.header {
    background-image: url('images/Arthurs-Outside.jpg');
    background-position: center;
    color: black;
    grid-area: header;
    text-shadow: (0, 0, 0, 1);

}

nav {
    background-color: darkolivegreen;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}



.header nav li {
    list-style-type: none;

}

.main-content {
    grid-area: main-content;
    border-style: solid;
    border-color: darkolivegreen;
    border-width: 16px 16px 2px 2px;
}

.image-gallery {
    grid-area: image-gallery;
    border:
        display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    border-style: solid;
    border-color: darkolivegreen;
    border-width: 16px 16px 2px 2px;
}

.image-gallery img {
    width: calc(50% - 10px);
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    border-color: darkolivegreen;
    border-style: solid;
    border-width: 2px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: translate(5px, 5px);
}

.footer {
    grid-area: footer;
    border-style: solid;
    border-color: darkolivegreen;
    border-width: 16px 16px 2px 2px;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

footer:nth-child(1) {
    padding: none;
}

/*tablet breakpoint*/
@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "main-content image-gallery"
            "footer footer";
        height: 100vh;
    }

    header h1 {

        padding-top: 30px;
        padding-bottom: none;
        font-size: 50px;

    }

    header p {
        padding: none;
    }

    .image-gallery img {
        width: calc(100% - 10px);
        gap: 20px;
        padding-right: 30px;

    }
}

/*desktop breakpoint*/
@media (min-width: 980px) {
    body {}
}
